.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}

.container h1 {
  color: rgba(47,69,92,1.0);
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  display: block;
}
.example-form {
  width: 100%;
}
.formLogin {
  padding: 20px;
}

.example-full-width {
  width: 100%;
}

mat-label {
  font-size: 18px;
}

input.mat-input-element {
  margin-top: 10px;
}

.addContaier{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.addButton{
  background-color: #fff;
  color: #25db73;
  border: 2px solid #25db73;
  padding: 6px 10px;
  border-radius: 3px;
  min-width: auto !important;
  transition: all .3s ease-out;
  cursor: pointer;
}

.addButton:hover, .addButton:active{
  background-color: #25db73;
  color: #fff;
  transition: all .3s ease-out;
}

.field-wrapper {
  padding: 10px 0px 10px 0px;
  margin: 0 80px 0 0;
}

.inputs{
  display: flex;
  flex-direction: row;
}

.buttonRemove{
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove{
  background-color: #fff;
  color: rgb(255, 58, 58);
  border-radius: 3px;
  border: 2px solid rgb(255, 58, 58);
  padding: 6px 10px;
  cursor: pointer;
  transition: all .3s ease-out;
}

.remove:hover, .remove:active{
  background-color: rgb(255, 58, 58);
  color: #fff;
  transition: all .3s ease-out;
}

.alert{
  background-color: #fff0f0;
  color: #820000;
  padding: 0.5rem;
}

.footerButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.update{
  width: 150px;
  background-color: cornflowerblue !important;
  color: rgb(255, 255, 255) !important;
}

.cancel-icon {
  font-size: 16px;
  line-height: 21px;
}

.cancel{
  width: 150px;
  background-color: rgb(200, 200, 200) !important;
  color: rgb(0, 0, 0) !important;
}
