.footer {
    background: rgba(47,69,92,1.0);
    padding: 15px 0px;
    width: 100%;
    position: fixed;
    left: -15px;
    right: 0;
    bottom: 0;
}

.footer p {
    font-size: 14px;
    color: #fff;
    padding: 0 30px;
    margin: 0;
    text-align: right;
}
