<div class="navbar">
    <mat-toolbar class="container">
        <div class="expensyaLogo">
            <img src="assets/expensya.png"  alt="">
        </div>
        <span class="example-spacer"></span>
        <div class="navLinks">
            <a mat-button href="/assets/Excel-model.xlsx" class="link" type="button"> Download model </a>
            <button mat-button class="link" routerLink="/matching-header"  *ngIf="(isLoggedIn | async)" > Import file </button>
            <button mat-button class="link" routerLink="/headers" > Available headers </button>
            
            
        </div>
        <button mat-button class="logout" (click)="logout()" *ngIf="(isLoggedIn | async)">Logout <i class="fas fa-sign-out-alt"></i> </button>
    </mat-toolbar>
</div>