<mat-toolbar color="secondary" class="container">
    <div>
        <button mat-button class="navbar-link" style="font-size: 30px"  routerLink='/upload-file'>Upload file</button>
        <button mat-button class="navbar-link" style="font-size: 30px" routerLink='/field-mapping'>Field mapping</button>
        <button mat-button class="navbar-link" style="font-size: 30px"  routerLink='/import'>Import</button>
    </div>
    <span class="example-spacer"></span>
    <div>
        <img src="assets/expensya.png" width="250px" height="120px" alt="">
    </div>
</mat-toolbar>