.example-spacer {
    flex: 1 1 auto;
}

.navbar{
    box-shadow: 0px 4px 4px rgb(51 102 255 / 10%);
}

.container{
    width: auto;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    height: 70px;
}
.mat-toolbar{
    background-color: white !important;
}

.navbar-link{
    font-size: 20px;
    border-radius: 15px;
    margin: 5px;
    background-color: rgb(255, 255, 255);
}

.navbar-link:hover{
    color: rgb(0, 153, 255);
    background-color: rgb(255, 255, 255) !important;
    border-radius: 5px;
}

.expensyaLogo img{
    width: 135px;
}