<mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step label="Import file">
        <div class="container" appDnd (fileDropped)="onFileDropped($event)">
            <input formControlName="file" type="file" #fileDropRef id="fileDropRef" [multiple]="false"
                (change)="fileBrowseHandler($event.target.files)" />
            <i for="fileDropRef" class="fas fa-cloud-upload-alt"></i>
            <h3 class="dragAndDrop">Drag and drop file here</h3>
            <h3 class="dragAndDrop">or</h3>
            <span for="fileDropRef" class="browseFile">Browse for file</span>
        </div>
        <div class="files-list">
            <div class="single-file" *ngFor="let file of files; let i = index">
                <div class="info">
                    <img src="assets/file-icon.png" width="45px" alt="file">
                    <h4 class="name">
                        {{ file?.name }}
                    </h4>
                    <p class="size">
                        {{ formatBytes(file?.size) }}
                    </p>
                    <app-progress [progress]="file?.progress"></app-progress>
                </div>
                <section>
                    <div class="example-flex-container">
                        <button mat-flat-button class="submitFile" type="button"
                            (click)="uploadFileAndMatching(i,stepper)">
                            Upload this file
                        </button>
                        <button mat-flat-button color="error" class="delete" alt="file" (click)="deleteFile(i)"
                            aria-label="Example icon button with a delete icon">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </section>
            </div>
        </div>
    </mat-step>
    <mat-step label="Field mapping">
        <div class="matchingContainer">
            <div class="notMatched">
                <div>
                    <div>
                        <span style="font-size: 30px; font-weight: 500; color: rgb(71, 114, 253);" *ngIf="!nothingToMatch">
                            Matching table
                        </span>
                    </div>
                    <h1 class="nothingToMatch" *ngIf="nothingToMatch">Headers selected and there is nothing to match.</h1>
                    <div formGroup="matching" >
                        <div formArrayName="notMatched"
                            *ngFor="let header of getNotMatched.controls; let i=index">
                            <div class="rowMatch" >
                                <div class="headerOfClient">
                                    <span>
                                        {{getNotMatched.controls[i].get('key').value}}
                                    </span>
                                </div>
                                <div class="options">
                                    <div>
                                        <mat-form-field appearance="fill" width="50%">
                                            <mat-label>Choose Option</mat-label>
                                            <mat-select>
                                                <mat-option (click)="changevalues(list[0],i)"
                                                    *ngFor="let list of headersNotMatched[i].similarityOfKey"
                                                    [value]="list[0]">
                                                    <label class="similarityKey">{{list[0]}}
                                                    </label>
                                                    <label aria-disabled="true"
                                                        style="font-size: 23px; color: rgb(118, 3, 212); float : right;">|
                                                        {{list[1]}}
                                                        % </label>
                                                </mat-option>
                                            </mat-select>
                                            <mat-error
                                                *ngIf="submitted && getNotMatched.controls[i].get('affectedKey')?.errors?.required">
                                                Option required</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <mat-divider></mat-divider>
                </div>
    
                <button mat-flat-button class="confirm" type="button" (click)="confirm()" *ngIf="!hideConfirm"> Confirm matching <i
                        class="fa iconConfirm fa-chevron-right" aria-hidden="true"></i>
                </button>
            </div>
            <div class="matched" formArrayName="matched">
                <div class="">
                    <div class="transformation">
                        <div>Before</div>
                        <div>After</div>
                    </div>
                    <div class="matchedList" *ngFor=" let matched of getMatched.controls ; let i = index">
    
                        <div class="before">
                            <label for="">{{getMatched.controls[i].get('header').value}} </label>
                        </div>
                        <div class="arrow"><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i> <i
                                class="fa fa-chevron-right"></i> </div>
                        <div class="after">
                            <label for="">{{getMatched.controls[i].get('matchingString').value}} </label>
                        </div>
    
                    </div>
                </div>
                <div>
                    <button mat-flat-button class="startImport" *ngIf="startImport" type="button"
                        (click)="startImporting(stepper)">
                        Start import
                    </button>
                </div>
            </div>
    
        </div>
        
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div style="text-align: center;">
            <h1>Imported data</h1>
            <div>
                <table id="data" class="table">
                    <tr>
                        <td id="headerRow">
                            <span>ID</span>
                        </td>
                        <th id="headerRow" scope="col" *ngFor="let header of tab;">
                            <span>
                                {{header}}
                            </span>
                        </th>
                    </tr>
                    <tr *ngFor="let row of data[0];let i=index">
                        <td>
                            {{i+1}}
                        </td>
                        <td scope="col" *ngFor="let column of tab;">
                            {{row[column]}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </mat-step>
</mat-horizontal-stepper>