.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.container {
  width: auto;
  height: 300px;
  padding: 2rem;
  text-align: center;
  border: 3px solid #008cff;
  position: relative;
  margin: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #f4fbff;
  transition: 1s;
}

@media only screen and (max-width: 1120px) {
  .container {
    display: flex;
    justify-content: space-around;
    height: auto;
    background-color: #e7f7ff;
  }

  h3.dragAndDrop {
    text-align: justify;
    white-space: nowrap;
    font-size: 4vw;
    padding-bottom: 10px;
  }

  h3.browseFile {
    width: 190px;
    white-space: nowrap;
    height: 50px;
    font-size: 24px;
    padding: 25px 10px 0px 10px;
  }
}

@media only screen and (max-width: 400px) {
  p.size {
    font-size: 5vw;
  }

  h4.name {
    font-size: 5vw;
  }
}

@media only screen and (max-width: 765px) {
  .container {
    display: flex;
    justify-content: space-around;
    height: auto;
    background-color: #e7f7ff;
  }

  h3.dragAndDrop {
    text-align: justify;
    white-space: nowrap;
    font-size: 4vw;
    padding-bottom: 10px;
  }

  span.browseFile {
    white-space: nowrap;
    width: 150px;
    height: 50px;
    font-size: 20px;
    padding: 20px 8px 0px 8px;
    margin: 15px auto 15px auto;
  }

  .single-file {
    flex-direction: column;
  }

  button.submitFile {
    font-size: 17px;
  }
  div.info {
    width: 220px;
  }
}

.container:hover {
  border: 3px solid #01bbc8;
  transition: 1s;
  background-color: #e7f7ff;
}

.fa-cloud-upload-alt {
  width: 60px;
  height: 50px;
  margin-bottom: 10px;
  color: #008cff;
}

input {
  opacity: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}

.example-flex-container {
  display: flex;
  flex-direction: row;
}

.submitFile {
  margin-right: 20px;
  font-size: 25px;
  border-radius: 10px;
  background-color: #fdfeff;
  border: 2px solid rgb(23, 151, 255);
  color: rgb(23, 151, 255);
  transition: 1s;
}

.submitFile:hover {
  background-color: rgb(23, 151, 255);
  color: #fdfeff;
  transition: 1s;
}

section {
  display: table;
}

.browseFile {
  color: white;
  /* width: 210px;
  height: 70px; */
  font-size: 28px;
  font-weight: 400;
  border-radius: 21.5px;
  background-color: #20b6db;
  padding: 15px 25px;
}

.dragAndDrop {
  font-size: 40px;
  margin: 10px auto 10px auto;
  font-weight: 600;
  color: #38424c;
}

.files-list {
  margin: 0 10% 0 10%;
}

.single-file {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  border: dashed 1px #979797;
  margin-bottom: 1rem;
}

.delete {
  margin-left: 0.5rem;
  cursor: pointer;
  border: 2px solid rgb(199, 57, 57);
  transition: 1s;
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.delete:hover {
  color: white;
  background-color: rgb(199, 57, 57);
  transition: 1s;
}

.name {
  font-size: 20px;
  font-weight: 500;
  color: #353f4a;
  margin: 11px 5px 0 0;
}

.size {
  font-size: 17px;
  font-weight: 500;
  color: #a4a4a4;
  margin: 15px 5px 0 0;
}

.info {
  width: 800px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.matchingContainer {
  /* padding: 20px; */
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
}
.options {
  margin-left: auto;
  order: 2;
}

.rowMatch {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.notMatched {
  box-shadow: 0px 4px 16px rgb(51 102 255 / 20%);
  border-radius: 15px;
  min-height: 700px;
  width: 50%;
  margin: 10px;
  padding: 14px;
}

.matched {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 16px rgb(51 102 255 / 20%);
  border-radius: 15px;
  min-height: 700px;
  width: 50%;
  padding: 14px;
  margin: 10px;
}

.headerOfClient {
  font-size: 22px;
  display: flex;
  align-items: center;
  font-weight: 500;
  margin: 20px 0;
}

.confirm {
  margin: 20px 0 0;
  padding: 10px 25px;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid #3366ff;
  background-color: #fff;
  color: #3366ff;
  float: right;
  transition: 0.5s;
}

.iconConfirm {
  font-size: 14px;
}
.confirm:hover {
  background-color: #3366ff;
  color: #fff;
  transition: 0.5s;
}

.transformation {
  font-size: 28px;
  font-weight: 500;
  display: flex;
  color: #3366ff;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.before {
  width: 45%;
  font-weight: 500;
}
.arrow {
  font-size: 22px;
  color: rgb(23, 151, 255);
  width: 10%;
}
.after {
  width: 45%;
  font-weight: 500;
}

.matchedList {
  padding: 10px;
  font-size: 23px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  margin-top: 20px;
}

.startImport {
  margin: 30px;
  font-size: 25px;
  width: 200px;
  height: 50px;
  background-color: #0178c8;
  color: rgb(217, 255, 231);
  float: right;
}

table{
  border-spacing: 0px !important;
}

tr,
th,
td {
  border: 1px solid #dee2e6;;
  font-size: 25px;
  padding: 0.75rem;
}

