<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step label="Import file">
        <div class="container" appDnd (fileDropped)="onFileDropped($event)">
            <input formControlName="file" type="file" #fileDropRef id="fileDropRef" [multiple]="false"
                (change)="fileBrowseHandler($event.target.files)" />
            <i for="fileDropRef" class="fas fa-cloud-upload-alt"></i>
            <h3 class="dragAndDrop">Drag and drop file here</h3>
            <h3 class="dragAndDrop">or</h3>
            <h3 for="fileDropRef" class="browseFile">Browse for file</h3>
        </div>
        <div class="files-list">
            <div class="single-file" *ngFor="let file of files; let i = index">
                <div class="info">
                    <img src="assets/file-icon.png" width="45px" alt="file">
                    <h4 class="name">
                        {{ file?.name }}
                    </h4>
                    <p class="size">
                        {{ formatBytes(file?.size) }}
                    </p>
                    <app-progress [progress]="file?.progress"></app-progress>
                </div>
                <section>
                    <div class="example-flex-container">
                        <button mat-flat-button class="submitFile" type="button" (click)="uploadFileAndMatching(i)">
                            Upload this file
                        </button>
                        <button mat-fab color="error" class="delete" width="15px" alt="file" (click)="deleteFile(i)"
                            aria-label="Example icon button with a delete icon">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </section>
            </div>
        </div>
    </mat-step>
    <mat-step label="Field mapping">
        <form>
            <div>
                <div>

                </div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>